*.swp
.env
.env.bak
docker-compose.override.yml
web/jitsi-meet/analytics-ga.js
web/jitsi-meet/app.js
web/jitsi-meet/babel.config.js
web/jitsi-meet/base.html
web/jitsi-meet/body.html
web/jitsi-meet/conference.js
web/jitsi-meet/config.js
web/jitsi-meet/connection.js
web/jitsi-meet/favicon.ico
web/jitsi-meet/fonts.html
web/jitsi-meet/head.html
web/jitsi-meet/index.android.js
web/jitsi-meet/index.html
web/jitsi-meet/index.ios.js
web/jitsi-meet/interface_config.js
web/jitsi-meet/LICENSE
web/jitsi-meet/logging_config.js
web/jitsi-meet/metro.config.js
web/jitsi-meet/plugin.head.html
web/jitsi-meet/pwa-worker.js
web/jitsi-meet/react-native.config.js
web/jitsi-meet/robots.txt
web/jitsi-meet/title.html
web/jitsi-meet/webpack.config.js
web/jitsi-meet/connection_optimization/.eslintrc.js
web/jitsi-meet/connection_optimization/connection_optimization.html
web/jitsi-meet/connection_optimization/do_external_connect.js
web/jitsi-meet/css/all.css
web/jitsi-meet/fonts/OpenSans-Light-webfont.eot
web/jitsi-meet/fonts/OpenSans-Light-webfont.svg
web/jitsi-meet/fonts/OpenSans-Light-webfont.ttf
web/jitsi-meet/fonts/OpenSans-Light-webfont.woff
web/jitsi-meet/images/app-store-badge.png
web/jitsi-meet/images/apple-touch-icon.png
web/jitsi-meet/images/avatar.png
web/jitsi-meet/images/btn_google_signin_dark_normal.png
web/jitsi-meet/images/calendar.svg
web/jitsi-meet/images/chromeLogo.svg
web/jitsi-meet/images/dropboxLogo_square.png
web/jitsi-meet/images/f-droid-badge.png
web/jitsi-meet/images/favicon.ico
web/jitsi-meet/images/flags.png
web/jitsi-meet/images/flags@2x.png
web/jitsi-meet/images/GIPHY_icon.png
web/jitsi-meet/images/GIPHY_logo.png
web/jitsi-meet/images/google-play-badge.png
web/jitsi-meet/images/googleLogo.svg
web/jitsi-meet/images/icon-cloud.png
web/jitsi-meet/images/icon-info.png
web/jitsi-meet/images/icon-users.png
web/jitsi-meet/images/jitsilogo.png
web/jitsi-meet/images/logo-deep-linking.png
web/jitsi-meet/images/microsoftLogo.svg
web/jitsi-meet/images/share-audio.gif
web/jitsi-meet/images/watermark.png
web/jitsi-meet/images/watermark.svg
web/jitsi-meet/images/welcome-background.png
web/jitsi-meet/images/virtual-background/background-1.jpg
web/jitsi-meet/images/virtual-background/background-2.jpg
web/jitsi-meet/images/virtual-background/background-3.jpg
web/jitsi-meet/images/virtual-background/background-4.jpg
web/jitsi-meet/images/virtual-background/background-5.jpg
web/jitsi-meet/images/virtual-background/background-6.jpg
web/jitsi-meet/images/virtual-background/background-7.jpg
web/jitsi-meet/lang/languages-af.json
web/jitsi-meet/lang/languages-ar.json
web/jitsi-meet/lang/languages-be.json
web/jitsi-meet/lang/languages-bg.json
web/jitsi-meet/lang/languages-ca.json
web/jitsi-meet/lang/languages-cs.json
web/jitsi-meet/lang/languages-da.json
web/jitsi-meet/lang/languages-de.json
web/jitsi-meet/lang/languages-el.json
web/jitsi-meet/lang/languages-enGB.json
web/jitsi-meet/lang/languages-eo.json
web/jitsi-meet/lang/languages-es.json
web/jitsi-meet/lang/languages-esUS.json
web/jitsi-meet/lang/languages-et.json
web/jitsi-meet/lang/languages-eu.json
web/jitsi-meet/lang/languages-fa.json
web/jitsi-meet/lang/languages-fi.json
web/jitsi-meet/lang/languages-fr.json
web/jitsi-meet/lang/languages-frCA.json
web/jitsi-meet/lang/languages-fy.json
web/jitsi-meet/lang/languages-gl.json
web/jitsi-meet/lang/languages-he.json
web/jitsi-meet/lang/languages-hi.json
web/jitsi-meet/lang/languages-hr.json
web/jitsi-meet/lang/languages-hu.json
web/jitsi-meet/lang/languages-hy.json
web/jitsi-meet/lang/languages-id.json
web/jitsi-meet/lang/languages-is.json
web/jitsi-meet/lang/languages-it.json
web/jitsi-meet/lang/languages-ja.json
web/jitsi-meet/lang/languages-ka.json
web/jitsi-meet/lang/languages-kab.json
web/jitsi-meet/lang/languages-km.json
web/jitsi-meet/lang/languages-ko.json
web/jitsi-meet/lang/languages-lt.json
web/jitsi-meet/lang/languages-lv.json
web/jitsi-meet/lang/languages-mn.json
web/jitsi-meet/lang/languages-mr.json
web/jitsi-meet/lang/languages-nb.json
web/jitsi-meet/lang/languages-nl.json
web/jitsi-meet/lang/languages-oc.json
web/jitsi-meet/lang/languages-pl.json
web/jitsi-meet/lang/languages-pt.json
web/jitsi-meet/lang/languages-ptBR.json
web/jitsi-meet/lang/languages-ro.json
web/jitsi-meet/lang/languages-ru.json
web/jitsi-meet/lang/languages-sc.json
web/jitsi-meet/lang/languages-sk.json
web/jitsi-meet/lang/languages-sl.json
web/jitsi-meet/lang/languages-sq.json
web/jitsi-meet/lang/languages-sr.json
web/jitsi-meet/lang/languages-sv.json
web/jitsi-meet/lang/languages-te.json
web/jitsi-meet/lang/languages-tr.json
web/jitsi-meet/lang/languages-uk.json
web/jitsi-meet/lang/languages-vi.json
web/jitsi-meet/lang/languages-zhCN.json
web/jitsi-meet/lang/languages-zhTW.json
web/jitsi-meet/lang/languages.json
web/jitsi-meet/lang/main-af.json
web/jitsi-meet/lang/main-ar.json
web/jitsi-meet/lang/main-be.json
web/jitsi-meet/lang/main-bg.json
web/jitsi-meet/lang/main-ca.json
web/jitsi-meet/lang/main-cs.json
web/jitsi-meet/lang/main-da.json
web/jitsi-meet/lang/main-de.json
web/jitsi-meet/lang/main-el.json
web/jitsi-meet/lang/main-enGB.json
web/jitsi-meet/lang/main-eo.json
web/jitsi-meet/lang/main-es.json
web/jitsi-meet/lang/main-esUS.json
web/jitsi-meet/lang/main-et.json
web/jitsi-meet/lang/main-eu.json
web/jitsi-meet/lang/main-fa.json
web/jitsi-meet/lang/main-fi.json
web/jitsi-meet/lang/main-fr.json
web/jitsi-meet/lang/main-frCA.json
web/jitsi-meet/lang/main-gl.json
web/jitsi-meet/lang/main-he.json
web/jitsi-meet/lang/main-hi.json
web/jitsi-meet/lang/main-hr.json
web/jitsi-meet/lang/main-hu.json
web/jitsi-meet/lang/main-hy.json
web/jitsi-meet/lang/main-id.json
web/jitsi-meet/lang/main-is.json
web/jitsi-meet/lang/main-it.json
web/jitsi-meet/lang/main-ja.json
web/jitsi-meet/lang/main-kab.json
web/jitsi-meet/lang/main-ko.json
web/jitsi-meet/lang/main-lt.json
web/jitsi-meet/lang/main-lv.json
web/jitsi-meet/lang/main-ml.json
web/jitsi-meet/lang/main-mn.json
web/jitsi-meet/lang/main-mr.json
web/jitsi-meet/lang/main-nb.json
web/jitsi-meet/lang/main-nl.json
web/jitsi-meet/lang/main-oc.json
web/jitsi-meet/lang/main-pl.json
web/jitsi-meet/lang/main-pt.json
web/jitsi-meet/lang/main-ptBR.json
web/jitsi-meet/lang/main-ro.json
web/jitsi-meet/lang/main-ru.json
web/jitsi-meet/lang/main-sc.json
web/jitsi-meet/lang/main-sk.json
web/jitsi-meet/lang/main-sl.json
web/jitsi-meet/lang/main-sq.json
web/jitsi-meet/lang/main-sr.json
web/jitsi-meet/lang/main-sv.json
web/jitsi-meet/lang/main-te.json
web/jitsi-meet/lang/main-tr.json
web/jitsi-meet/lang/main-uk.json
web/jitsi-meet/lang/main-vi.json
web/jitsi-meet/lang/main-zhCN.json
web/jitsi-meet/lang/main-zhTW.json
web/jitsi-meet/lang/main.json
web/jitsi-meet/lang/readme.md
web/jitsi-meet/lang/update-translation.js
web/jitsi-meet/libs/alwaysontop.min.js
web/jitsi-meet/libs/alwaysontop.min.js.map
web/jitsi-meet/libs/analytics-ga.js
web/jitsi-meet/libs/analytics-ga.min.js
web/jitsi-meet/libs/analytics-ga.min.js.map
web/jitsi-meet/libs/app.bundle.min.js
web/jitsi-meet/libs/app.bundle.min.js.map
web/jitsi-meet/libs/blazeface-front.bin
web/jitsi-meet/libs/blazeface-front.json
web/jitsi-meet/libs/capabilities.json
web/jitsi-meet/libs/close3.min.js
web/jitsi-meet/libs/dial_in_info_bundle.min.js
web/jitsi-meet/libs/dial_in_info_bundle.min.js.map
web/jitsi-meet/libs/do_external_connect.min.js
web/jitsi-meet/libs/do_external_connect.min.js.map
web/jitsi-meet/libs/emotion.bin
web/jitsi-meet/libs/emotion.json
web/jitsi-meet/libs/external_api.min.js
web/jitsi-meet/libs/external_api.min.js.map
web/jitsi-meet/libs/external_connect.js
web/jitsi-meet/libs/face-landmarks-worker.min.js
web/jitsi-meet/libs/face-landmarks-worker.min.js.map
web/jitsi-meet/libs/lib-jitsi-meet.e2ee-worker.js
web/jitsi-meet/libs/lib-jitsi-meet.min.js
web/jitsi-meet/libs/lib-jitsi-meet.min.map
web/jitsi-meet/libs/olm.wasm
web/jitsi-meet/libs/rnnoise.wasm
web/jitsi-meet/libs/selfie_segmentation_landscape.tflite
web/jitsi-meet/libs/tfjs-backend-wasm-simd.wasm
web/jitsi-meet/libs/tfjs-backend-wasm-threaded-simd.wasm
web/jitsi-meet/libs/tfjs-backend-wasm.wasm
web/jitsi-meet/libs/tflite-simd.wasm
web/jitsi-meet/libs/tflite.wasm
web/jitsi-meet/sounds/asked-unmute.mp3
web/jitsi-meet/sounds/e2eeOff.mp3
web/jitsi-meet/sounds/e2eeOn.mp3
web/jitsi-meet/sounds/incomingMessage.wav
web/jitsi-meet/sounds/joined.wav
web/jitsi-meet/sounds/knock.mp3
web/jitsi-meet/sounds/left.wav
web/jitsi-meet/sounds/liveStreamingOff.mp3
web/jitsi-meet/sounds/liveStreamingOn.mp3
web/jitsi-meet/sounds/noAudioSignal.mp3
web/jitsi-meet/sounds/noisyAudioInput.mp3
web/jitsi-meet/sounds/outgoingRinging.wav
web/jitsi-meet/sounds/outgoingStart.wav
web/jitsi-meet/sounds/reactions-applause.mp3
web/jitsi-meet/sounds/reactions-boo.mp3
web/jitsi-meet/sounds/reactions-crickets.mp3
web/jitsi-meet/sounds/reactions-laughter.mp3
web/jitsi-meet/sounds/reactions-raised-hand.mp3
web/jitsi-meet/sounds/reactions-surprise.mp3
web/jitsi-meet/sounds/reactions-thumbs-up.mp3
web/jitsi-meet/sounds/recordingOff.mp3
web/jitsi-meet/sounds/recordingOn.mp3
web/jitsi-meet/sounds/rejected.wav
web/jitsi-meet/sounds/ring.ogg
web/jitsi-meet/sounds/ring.wav
web/jitsi-meet/sounds/talkWhileMuted.mp3
web/jitsi-meet/static/404.html
web/jitsi-meet/static/authError.html
web/jitsi-meet/static/close.html
web/jitsi-meet/static/close.js
web/jitsi-meet/static/close2.html
web/jitsi-meet/static/close3.html
web/jitsi-meet/static/close3.js
web/jitsi-meet/static/dialInInfo.html
web/jitsi-meet/static/msredirect.html
web/jitsi-meet/static/oauth.html
web/jitsi-meet/static/offline.html
web/jitsi-meet/static/planLimit.html
web/jitsi-meet/static/prejoin.html
web/jitsi-meet/static/recommendedBrowsers.html
web/jitsi-meet/static/settingsToolbarAdditionalContent.html
web/jitsi-meet/static/welcomePageAdditionalCard.html
web/jitsi-meet/static/welcomePageAdditionalContent.html
web/jitsi-meet/static/pwa/icons/icon192.png
web/jitsi-meet/static/pwa/icons/icon512.png
web/jitsi-meet/static/pwa/icons/iconMask.png
